:root{
    --color-green:#75BF7A;
}

/**{
    border:1px solid gray;
}*/
*{
    font-family: 'Poppins', sans-serif;
}

.color-green-otere{
    color: var(--color-green);
}

.bg-green-otere{
    background-color: var(--color-green);
}

.fs-benefits{
    font-size: 4rem;
}